name: Build & Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup node v12
        uses: actions/setup-node@master
        with:
          node-version: 12

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Unit Test
        run: npm run test:cov
        env:
          CI: true

      - name: E2E Test
        run: npm run test:e2e
        env:
          CI: true
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
